div.sociallinksholder{
    margin-bottom: 20px;
    padding: 20px 20px 0;
}

ul#sociallinks{
   list-style: none;
    margin: 0;
    padding: 0;
}
ul#sociallinks li{
    border-right: 1px dotted #DDDDDD;
    display: inline-block;
    float: left;
    line-height: 20px;
    padding: 0 8px;
    position: relative;
    vertical-align: top;
    white-space: nowrap;
}
ul#sociallinks li.fb{padding-left: 0;}
ul#sociallinks li.twit{}
ul#sociallinks li.yt{
	border:none;
    padding-right: 0;
}
ul#sociallinks li a{
    display: block;
    float: left;
    height: 22px;
	text-indent: -999px;	

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;	
}
ul#sociallinks li a:hover{}
ul#sociallinks li.fb a,
ul#sociallinks li.fb a:hover,
ul#sociallinks li.twit a,
ul#sociallinks li.twit a:hover,
ul#sociallinks li.yt a,
ul#sociallinks li.yt a:hover {
	background: url("../img/sociallinks.png") no-repeat;
}

ul#sociallinks li.fb a{
	background-position: 0 -4px ;
	width: 61px;
	height: 21px;
}

ul#sociallinks li.fb a:hover{
	background-position: -1px -52px ;
	width: 61px;
	height: 21px;
}

ul#sociallinks li.twit a{
	background-position: -104px -1px ;
	width: 55px;
	height: 21px;
}

ul#sociallinks li.twit a:hover{
	background-position: -103px -51px ;
	width: 55px;
	height: 21px;
}

ul#sociallinks li.yt a{
	background-position: -203px 0;
	width: 48px;
	height: 21px;
}

ul#sociallinks li.yt a:hover{
	background-position: -202px -50px ;
	width: 48px;
	height: 21px;
}




